<!-- templates/bookstore/all_links.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1> Links </h1>

    <table class="table">
        <tr>
            <th>View name (with URL)</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="{% url 'home' %}">bookstore/views/all_links</td>
            <td>Home page of this website</td>
            <td>List of links</td>
        </tr>
        <tr>
            <td><a href="{% url 'books:http_example' %}">books/views/http_example</td>
            <td>function based view</td>
            <td>HttpResponse</td>
        </tr>
        <tr>
            <td><a href="{% url 'books:fexample' %}">books/views/fexample</td>
            <td>function based view</td>
            <td>Context in "function based" view</td>
        </tr>
        <tr>
            <td><a href="{% url 'books:cexample' %}">books/views/cexample</td>
            <td>function based view</td>
            <td>Context in "Class based" view</td>
        </tr>
        <tr>
            <td><a href="{% url 'books:booklist' %}">books/views/booklist</td>
            <td>List View</td>
            <td>Book List</td>
        </tr>
        <tr>
            <td><a href="{% url 'books:booklist' %}">books/views/bookdetail</td>
            <td>Detail View</td>
            <td>Go to list page and click on any book for details</td>
        </tr>

    </table>

<h1> Передача параметров: </h1>
  <table class="table">
        <tr>
            <th>View name (with URL)</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="{% url 'books:freadargs' 'tiger' %}">/books/freadargs/tiger/</td>
            <td>args using function-based view</td>
            <td>-</td>
        </tr>
        <tr>
            <td><a href="{% url 'books:readargs' 'tiger' %}">/books/readargs/tiger/</td>
            <td>read *args using class-based view</td>
            <td>-</td>
        </tr>
        <tr>
            <td><a href="{% url 'books:freadkwargs' test='tt' %}?p='param'">/books/readargs/tiger/</td>
            <td>read kwargs using function-based view</td>
            <td>-</td>
        </tr>
        <tr>
            <td><a href="{% url 'books:readkwargs' test='tigerfrom' %}?p='param'">/books/readargs/tiger/</td>
            <td>read kwargs using function-based view</td>
            <td>-</td>
        </tr>

  </table>






{% endblock %}